/data

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

# Virtual environment
venv
.env

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Application specific
*.sqlite3

# Logs
logs
*.log

# Docker
.dockerignore

# Redis
dump.rdb