version: '3.8'

services:
  web:
    build: .
    #ports:
    #  - "5000:5000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    volumes:
      - .:/app

  redis:
    image: "redis:alpine"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web